* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

button{
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    width: 90%;
    height: 10vh;/*Esta medida hace que tomela decima parte del alto de lapantalla */
    margin: auto;
    align-items: center;
}


.logo-container,
.nav-links,
.cart {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    margin: 5px;
    font-weight: 400;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;/*con esto centramos los items*/
    list-style: none;/*con esto quitamos la decoracion de los <li>*/
}

.nav-link{
    color: #5f5f79;
    text-decoration: none;
    font-size: 18px;
}

.cart {
    flex: 1;
    justify-content: flex-end;/*mandamos el carrito a la esquina*/
}

.presentacion {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduccion {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-add {
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

.cubierta {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}



.cubierta img {
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    /*crea un shadow a la imagen no al contenedor*/
    animation: drop 1.5s ease;
    /*aqui estamos usando la animacion drop que creamos con @keyframes*/
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.mid-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

.seleccion-laptop {
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20%;
}

@keyframes drop{
    0% {
        opacity: 0;
        transform: translateY(-80px);
        /*esto hace aparecer la imagen o lo que querramos desde arriba*/
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px){
    .presentacion {
        flex-direction: column;
    }
    .introduccion{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }

    .intro-text p{
        font-size: 18px;
    }

    .cta{
        padding: 10px 0px 0px 0px;
    }
    
    .seleccion-laptop{
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }

    .cubierta img{
        height: 80%;
    }

    .small-circle,
    .mid-circle,
    .big-circle{
        opacity: 0.2;
    }
}